#imperial {
    top: 80px;
    left: 5px;
}

#logo {
    max-width: 50px;
    max-height: 50px;
    position: relative;
    top: 5px;
}

#twitter {
    color: #00acee;
    position: absolute;
    top: 10px;
    float: right;
    right: 5%;
    width: 35px;
    height: 35px;
}

#Brazil {
    position: absolute;
    top: 14px;
    float: right;
    right: 200px;
    max-width: 20px;
    max-height: 20px;
}

#nameimp {
    position: absolute;
    top: 10px;
    float: right;
    right: 50%;
    font-family: 'lobster';
    font-size: 1.5rem;
}

#namebra {
    position: absolute;
    top: 1px;
    font-size: 0.7rem;
    float: right;
    right: 62%;
    color: gray;
    font-family: 'lobster';
}

#profile-team {
    border-bottom: 1px solid #495867;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'lobster';
    font-size: 1.0rem;
}

#profile-team-stats {
    border-bottom: 1px solid #495867;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'lobster';
    font-size: 0.9rem;
}

#profile-team-stats-age {
    border-bottom: 1px solid #495867;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'lobster';
    font-size: 0.9rem;
}

#profile-team-coach {
    border-bottom: 1px solid #495867;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'lobster';
    font-size: 0.9rem;
}

#spanCoach {
    font-size: 0.8rem;
    color: #87a3bf;
    float: right;
}

#span1,
#span2,
#span3,
#span4 {
    float: right;
    right: 10px;
    position: absolute;
}

#span {
    color: lightgray;
}

#a,
#a1 {
    text-decoration: none;
    color: #87a3bf;
    font-family: 'lobster';
}

#Brazil1 {
    max-width: 20px;
    max-height: 20px;
    float: right;
    right: 145px;
    position: absolute;
}

#teamLogo {
    margin-top: 10px;
    max-width: 90px;
    max-height: 90px;
    opacity: .65;
    position: absolute;
    float: left;
    left: 5px;
}

//FNX
#FNX {
    margin-top: 2px;
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    float: left;
    left: 1px;
}

#fnxbox {
    height: 105px;
    width: 101px;
    margin-top: 5px;
    position: absolute;
}

#nome {
    font-size: 0.8rem;
}

#profile-fnx {
    margin-top: 4px;
    position: absolute;
    font-size: 0.7rem;
    font-family: 'lobster';
    float: left;
    left: 119px;
    width: 180px;
    height: 30px;
    border-bottom: 1px solid #495867;
    padding-bottom: 8px;
}

#nomefnx {
    color: #87a3bf;
}

#Brazil2 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    margin-top: 3px;
    margin-left: 1px;
}

#span5 {
    position: absolute;
    margin-top: 14px;
    margin-left: 1px;
    font-family: 'lobster';
    font-size: 0.9rem;
    color: #87a3bf;
}

#agefnx {
    position: absolute;
    margin-top: 2px;
    color: #87a3bf;
    float: left;
    font-size: 0.9rem;
    font-family: 'lobster';
    left: 119px;
    margin-top: 38px;
    width: 180px;
    border-bottom: 1px solid #495867;
    padding-bottom: 2px;
}

#span6 {
    float: right;
    position: absolute;
    left: 105px;
    font-family: 'lobster';
    font-size: 0.8rem;
    margin-top: 5px;
}

#teamfnx {
    position: absolute;
    color: #87a3bf;
    float: left;
    font-size: 0.6rem;
    left: 119px;
    margin-top: 62px;
    width: 180px;
    border-bottom: 1px solid #495867;
    padding-bottom: 14px;
}

#span7 {
    float: right;
    position: absolute;
    font-family: 'lobster';
    left: 97px;
}

#Brazil3 {
    max-width: 20px;
    max-height: 20px;
}

#imperialnome {
    font-family: 'lobster';
    left: 118px;
    position: absolute;
    margin-top: 3px;
}

#nometime {
    position: absolute;
    font-family: 'lobster';
    margin-top: 3px;
}

#FNXbox {
    height: 117px;
    border-bottom: 1px solid #87a3bf;
    width: 100%;
}

#statsFNX {
    position: absolute;
    color: #87a3bf;
    float: left;
    font-size: 0.6rem;
    font-family: 'lobster';
    left: 119px;
    margin-top: 82px;
    width: 180px;
    border-bottom: 1px solid #495867;
    padding-bottom: 1px;
}

#span8 {
    margin-top: 2px;
    float: right;
    position: absolute;
    left: 123px;
}

#majorFNX {
    position: absolute;
    color: #87a3bf;
    float: left;
    font-size: 0.5rem;
    font-family: 'lobster';
    left: 119px;
    margin-top: 104px;
    width: 180px;
}

#span9 {
    background-color: #dea905;
    border-radius: 3px;
    margin-bottom: 8px;
    float: right;
    color: white;
    padding: 1px 5px;
    position: absolute;
    left: 90px;
}

//FalleN
#FALLEN {
    margin-top: 2px;
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    float: left;
    left: 1px;
}

#fallenxbox {
    height: 105px;
    width: 101px;
    margin-top: 5px;
    position: absolute;
}

#nome {
    font-size: 0.8rem;
}

#profile-fallen {
    margin-top: 4px;
    position: absolute;
    font-size: 0.7rem;
    font-family: 'lobster';
    float: left;
    left: 119px;
    width: 180px;
    height: 30px;
    border-bottom: 1px solid #495867;
    padding-bottom: 3px;
}

#nomefallen {
    color: #87a3bf;
}

#Brazil2 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    margin-top: 3px;
    margin-left: 1px;
}

#span5 {
    position: absolute;
    margin-top: 14px;
    margin-left: 1px;
    font-family: 'lobster';
    font-size: 0.9rem;
    color: #87a3bf;
}

#agefallen {
    position: absolute;
    margin-top: 2px;
    color: #87a3bf;
    float: left;
    font-size: 0.9rem;
    font-family: 'lobster';
    left: 119px;
    margin-top: 38px;
    width: 180px;
    border-bottom: 1px solid #495867;
    padding-bottom: 2px;
}

#span6 {
    float: right;
    position: absolute;
    left: 105px;
    font-family: 'lobster';
    font-size: 0.8rem;
    margin-top: 5px;
}

#teamfallen {
    position: absolute;
    color: #87a3bf;
    float: left;
    font-size: 0.6rem;
    left: 119px;
    margin-top: 62px;
    width: 180px;
    border-bottom: 1px solid #495867;
    padding-bottom: 14px;
}

#span7 {
    float: right;
    position: absolute;
    font-family: 'lobster';
    left: 97px;
}

#Brazil3 {
    max-width: 20px;
    max-height: 20px;
}

#imperialnome {
    font-family: 'lobster';
    left: 118px;
    position: absolute;
    margin-top: 3px;
}

#nometime {
    position: absolute;
    font-family: 'lobster';
    margin-top: 3px;
}

#Fallenbox {
    height: 117px;
    border-bottom: 1px solid #87a3bf;
    width: 100%;
}

#statsFALLEN {
    position: absolute;
    color: #87a3bf;
    float: left;
    font-size: 0.6rem;
    font-family: 'lobster';
    left: 119px;
    margin-top: 82px;
    width: 180px;
    border-bottom: 1px solid #495867;
    padding-bottom: 1px;
}

#spanfallen {
    margin-top: 2px;
    float: right;
    position: absolute;
    left: 95px;
}

#majorFALLEN {
    position: absolute;
    color: #87a3bf;
    float: left;
    font-size: 0.5rem;
    font-family: 'lobster';
    left: 119px;
    margin-top: 104px;
    width: 180px;
}

#span9 {
    background-color: #dea905;
    border-radius: 3px;
    margin-bottom: 8px;
    float: right;
    color: white;
    padding: 1px 5px;
    position: absolute;
    left: 90px;
}

//Fer
#FER {
    margin-top: 2px;
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    float: left;
    left: 1px;
}

#ferbox {
    height: 105px;
    width: 101px;
    margin-top: 5px;
    position: absolute;
}

#nome {
    font-size: 0.8rem;
}

#profile-fer {
    margin-top: 4px;
    position: absolute;
    font-size: 0.7rem;
    font-family: 'lobster';
    float: left;
    left: 119px;
    width: 180px;
    height: 30px;
    border-bottom: 1px solid #495867;
    padding-bottom: 3px;
}

#nomefer {
    color: #87a3bf;
}

#Brazil2 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    margin-top: 3px;
    margin-left: 1px;
}

#span5 {
    position: absolute;
    margin-top: 14px;
    margin-left: 1px;
    font-family: 'lobster';
    font-size: 0.9rem;
    color: #87a3bf;
}

#agefer {
    position: absolute;
    margin-top: 2px;
    color: #87a3bf;
    float: left;
    font-size: 0.9rem;
    font-family: 'lobster';
    left: 119px;
    margin-top: 38px;
    width: 180px;
    border-bottom: 1px solid #495867;
    padding-bottom: 2px;
}

#span6 {
    float: right;
    position: absolute;
    left: 105px;
    font-family: 'lobster';
    font-size: 0.8rem;
    margin-top: 5px;
}

#teamfer {
    position: absolute;
    color: #87a3bf;
    float: left;
    font-size: 0.6rem;
    left: 119px;
    margin-top: 62px;
    width: 180px;
    border-bottom: 1px solid #495867;
    padding-bottom: 14px;
}

#span7 {
    float: right;
    position: absolute;
    font-family: 'lobster';
    left: 97px;
}

#Brazil3 {
    max-width: 20px;
    max-height: 20px;
}

#imperialnome {
    font-family: 'lobster';
    left: 118px;
    position: absolute;
    margin-top: 3px;
}

#nometime {
    position: absolute;
    font-family: 'lobster';
    margin-top: 3px;
}

#Ferbox {
    height: 117px;
    border-bottom: 1px solid #87a3bf;
    width: 100%;
}

#statsFER {
    position: absolute;
    color: #87a3bf;
    float: left;
    font-size: 0.6rem;
    font-family: 'lobster';
    left: 119px;
    margin-top: 82px;
    width: 180px;
    border-bottom: 1px solid #495867;
    padding-bottom: 1px;
}

#spanfer {
    margin-top: 2px;
    float: right;
    position: absolute;
    left: 95px;
}

#majorFER {
    position: absolute;
    color: #87a3bf;
    float: left;
    font-size: 0.5rem;
    font-family: 'lobster';
    left: 119px;
    margin-top: 104px;
    width: 180px;
}

#span9 {
    background-color: #dea905;
    border-radius: 3px;
    margin-bottom: 8px;
    float: right;
    color: white;
    padding: 1px 5px;
    position: absolute;
    left: 90px;
}

#Players {
    height: 50%;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

#profile-FNX {
    position: relative;
}

#profile-FALLEN {
    position: relative;
}

#profile-FER {
    position: relative;
}

#profile-BOLTZ {
    position: relative;
}

#profile-VINI {
    position: relative;
}

//Boltz
#BOLTZ {
    margin-top: 2px;
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    float: left;
    left: 1px;
}

#boltzbox {
    height: 105px;
    width: 101px;
    margin-top: 5px;
    position: absolute;
}

#nome {
    font-size: 0.8rem;
}

#profile-boltz {
    margin-top: 4px;
    position: absolute;
    font-size: 0.7rem;
    font-family: 'lobster';
    float: left;
    left: 119px;
    width: 180px;
    height: 30px;
    border-bottom: 1px solid #495867;
    padding-bottom: 3px;
}

#nomeboltz {
    color: #87a3bf;
}

#Brazil2 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    margin-top: 3px;
    margin-left: 1px;
}

#span5 {
    position: absolute;
    margin-top: 14px;
    margin-left: 1px;
    font-family: 'lobster';
    font-size: 0.9rem;
    color: #87a3bf;
}

#ageboltz {
    position: absolute;
    margin-top: 2px;
    color: #87a3bf;
    float: left;
    font-size: 0.9rem;
    font-family: 'lobster';
    left: 119px;
    margin-top: 38px;
    width: 180px;
    border-bottom: 1px solid #495867;
    padding-bottom: 2px;
}

#span6 {
    float: right;
    position: absolute;
    left: 105px;
    font-family: 'lobster';
    font-size: 0.8rem;
    margin-top: 5px;
}

#teamboltz {
    position: absolute;
    color: #87a3bf;
    float: left;
    font-size: 0.6rem;
    left: 119px;
    margin-top: 62px;
    width: 180px;
    border-bottom: 1px solid #495867;
    padding-bottom: 14px;
}

#span7 {
    float: right;
    position: absolute;
    font-family: 'lobster';
    left: 97px;
}

#Brazil3 {
    max-width: 20px;
    max-height: 20px;
}

#imperialnome {
    font-family: 'lobster';
    left: 118px;
    position: absolute;
    margin-top: 3px;
}

#nometime {
    position: absolute;
    font-family: 'lobster';
    margin-top: 3px;
}

#Boltzbox {
    height: 117px;
    border-bottom: 1px solid #87a3bf;
    width: 100%;
}

#statsBOLTZ {
    position: absolute;
    color: #87a3bf;
    float: left;
    font-size: 0.6rem;
    font-family: 'lobster';
    left: 119px;
    margin-top: 82px;
    width: 180px;
    border-bottom: 1px solid #495867;
    padding-bottom: 1px;
}

#spanboltz {
    margin-top: 2px;
    float: right;
    position: absolute;
    left: 119px;
}

#VINI {
    margin-top: 2px;
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    float: left;
    left: 1px;
}

#vinibox {
    height: 105px;
    width: 101px;
    margin-top: 5px;
    position: absolute;
}

#nome {
    font-size: 0.8rem;
}

#profile-vini {
    margin-top: 4px;
    position: absolute;
    font-size: 0.7rem;
    font-family: 'lobster';
    float: left;
    left: 119px;
    width: 180px;
    height: 30px;
    padding-bottom: 3px;
}

#nomevini {
    color: #87a3bf;
}

#Brazil2 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    margin-top: 3px;
    margin-left: 1px;
}

#span5 {
    position: absolute;
    margin-top: 14px;
    margin-left: 1px;
    font-family: 'lobster';
    font-size: 0.9rem;
    color: #87a3bf;
}

#agevini {
    position: absolute;
    margin-top: 2px;
    color: #87a3bf;
    float: left;
    font-size: 0.9rem;
    font-family: 'lobster';
    left: 119px;
    margin-top: 38px;
    width: 180px;
    border-bottom: 1px solid #495867;
    padding-bottom: 2px;
}

#span6 {
    float: right;
    position: absolute;
    left: 105px;
    font-family: 'lobster';
    font-size: 0.8rem;
    margin-top: 5px;
}

#teamvini {
    position: absolute;
    color: #87a3bf;
    float: left;
    font-size: 0.6rem;
    left: 119px;
    margin-top: 62px;
    width: 180px;
    border-bottom: 1px solid #495867;
    padding-bottom: 14px;
}

#span7 {
    float: right;
    position: absolute;
    font-family: 'lobster';
    left: 97px;
}

#Brazil3 {
    max-width: 20px;
    max-height: 20px;
}

#imperialnome {
    font-family: 'lobster';
    left: 118px;
    position: absolute;
    margin-top: 3px;
}

#nometime {
    position: absolute;
    font-family: 'lobster';
    margin-top: 3px;
}

#Vinibox {
    height: 170px;
    width: 100%;
}