#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 1.2rem;
    line-height: 26px;
}

#container p {
    font-size: 1.2rem;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

#btt {
    align-items: center;
    text-align: center;
    position: relative;
    padding: 2px 2px 2px 2px;
    font-family: 'lobster';
}

#btc {
    font-family: 'lobster';
    margin-left: 10px;
    width: 47%;
}

#cadastro,
#username,
#senha {
    font-family: 'lobster';
    text-align: center;
    font-size: 1.5em;
    color: white;
}

#check {
    height: 70px;
    overflow: auto;
}