#matchesBox {
    background-color: black;
    border-top: 1px solid #495867;
    box-shadow: 0 2px 2px 0 rgb(50 50 50 / 25%);
    padding: 8px 16px 16px;
    position: relative;
    z-index: 1;
    margin-bottom: 16px;
    min-height: 800px;
    overflow: hidden;
}

#back {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

#headline2 {
    font-family: 'lobster';
    font-size: 1rem;
    margin-top: 16px;
    color: #87a3bf;
}

#table {
    width: 100%;
    font-family: 'lobster';
    color: #87a3bf;
    font-size: 0.8rem;
    margin-top: 8px;
}

#date {
    float: left;
}

#matches {
    float: right;
    position: absolute;
    right: 40%;
}

#statsBox2 {
    display: flex;
    border: 2px solid #495867;
    border-radius: 4px;
    margin-top: 30px;
}

#stat3 {
    flex: 1 1 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: 1px solid #495867;
    position: relative;
    font-family: 'lobster';
    font-size: 1rem;
    color: #87a3bf;
}

#table1 {
    width: 100%;
    font-family: 'lobster';
    color: #87a3bf;
    font-size: 0.8rem;
    margin-top: 10px;
    padding-bottom: 10px;
}

#date1 {
    float: left;
}

#matches1 {
    float: right;
    background-color: #435971;
    color: #fff;
    padding: 2px 6px 3px;
    border-radius: 4px;
    transition: .2s ease;
}

#times {
    margin-top: 15px;
    font-family: 'lobster';
    font-size: 1rem;
    color: #87a3bf;
}

#result {
    left: 10%;
    position: relative;
}

#logo {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    left: 28%;
    filter: grayscale(1) brightness(1.35);
}

#Imp {
    left: 2%;
    position: relative;
}

#not {
    float: right;
    font-size: 0.9rem;
}

#logo2 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    float: right;
    right: 47%;
}

//times1
#table2 {
    width: 100%;
    font-family: 'lobster';
    color: #87a3bf;
    font-size: 0.8rem;
    margin-top: 15px;
    padding-bottom: 10px;
}

#times1 {
    margin-top: 10px;
    font-family: 'lobster';
    font-size: 1rem;
    color: #87a3bf;
}

#logo1 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    left: 28%;
}

#result1 {
    left: 10%;
    position: relative;
}

#logo1 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    left: 28%;
}

#Imp1 {
    left: 2%;
    position: relative;
}

#not1 {
    float: right;
    font-size: 0.9rem;
    right: 30%;
    position: absolute;
}

#logo3 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    float: right;
    right: 46%;
    filter: grayscale(1) brightness(1.35);
}

//
#table2 {
    width: 100%;
    font-family: 'lobster';
    color: #87a3bf;
    font-size: 0.8rem;
    margin-top: 15px;
    padding-bottom: 10px;
}

#times2 {
    margin-top: 10px;
    font-family: 'lobster';
    font-size: 1rem;
    color: #87a3bf;
}

#logo1 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    left: 28%;
}

#result1 {
    left: 10%;
    position: relative;
}

#logo1 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    left: 28%;
}

#Imp1 {
    left: 2%;
    position: relative;
}

#not2 {
    float: right;
    font-size: 0.9rem;
    right: 9%;
    position: absolute;
}

#logo4 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    float: right;
    right: 46%;
    filter: grayscale(1) brightness(1.35);
}

//
#table3 {
    width: 100%;
    font-family: 'lobster';
    color: #87a3bf;
    font-size: 0.8rem;
    margin-top: 15px;
    padding-bottom: 10px;
}

#times3 {
    margin-top: 10px;
    font-family: 'lobster';
    font-size: 1rem;
    color: #87a3bf;
}

#logoimp {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    left: 28%;
    filter: grayscale(2) brightness(1.35);
}

#result1 {
    left: 10%;
    position: relative;
}

#Imp1 {
    left: 2%;
    position: relative;
}

#not3 {
    float: right;
    font-size: 0.9rem;
    right: 35%;
    position: absolute;
}

#logo5 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    float: right;
    right: 41%;
    filter: brightness(1);
}

// 
#table4 {
    width: 100%;
    font-family: 'lobster';
    color: #87a3bf;
    font-size: 0.8rem;
    margin-top: 15px;
    padding-bottom: 10px;
}

#times4 {
    margin-top: 10px;
    font-family: 'lobster';
    font-size: 1rem;
    color: #87a3bf;
}

#logoimp {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    left: 28%;
    filter: grayscale(2) brightness(1.35);
}

#result1 {
    left: 10%;
    position: relative;
}

#Imp1 {
    left: 2%;
    position: relative;
}

#not4 {
    float: right;
    font-size: 0.9rem;
    right: 33%;
    position: absolute;
}

#logo6 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    float: right;
    right: 41%;
}

#Forze {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    float: right;
    right: 46%;
    filter: grayscale(2) brightness(1.35);
}

#forze {
    float: right;
    font-size: 0.9rem;
    right: 33%;
    position: absolute;
}

#ihc {
    float: right;
    font-size: 0.9rem;
    right: 37%;
    position: absolute;
}

#BNE {
    float: right;
    font-size: 0.9rem;
    right: 4%;
    position: absolute;
}

#bne {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    float: right;
    right: 41%;
}

#liquid {
    float: right;
    font-size: 0.9rem;
    right: 26%;
    position: absolute;
}

#Liquid {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    float: right;
    right: 41%;
    filter: grayscale(2) brightness(1.35);
}

ion-tab-bar{
    --background: black;
}

ion-content{
    --background: black;
}