#matchesBox {
    background-color: black;
    border-top: 1px solid #495867;
    box-shadow: 0 2px 2px 0 rgb(50 50 50 / 25%);
    padding: 8px 16px 16px;
    position: relative;
    z-index: 1;
    margin-bottom: 16px;
    min-height: 500px;
    overflow: hidden;
}

#back {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

#headline {
    font-family: 'lobster';
    font-size: 1rem;
    margin-top: 5px;
    color: #87a3bf;
}

#statsBox {
    display: flex;
    border: 1px solid #495867;
    border-radius: 4px;
}

#stat {
    flex: 1 1 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: 1px solid #495867;
    position: relative;
}

#stats {
    font-family: 'lobsters';
    color: #87a3bf;
    font-size: 1.5rem;
}

#description {
    font-family: 'lobster';
    font-size: 0.9rem;
    color: #87a3bf;
}

#stat2 {
    flex: 1 1 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: 1px solid #495867;
    position: relative;
}

#stats2 {
    font-family: 'lobsters';
    color: #87a3bf;
    font-size: 1.5rem;
}

#description2 {
    font-family: 'lobster';
    font-size: 0.9rem;
    color: #87a3bf;
}

#timeSpan {
    position: absolute;
    top: 2px;
    right: 8px;
    color: #87a3bf;
    font-family: 'lobster';
    font-size: 0.5rem;
}

#headline2 {
    font-family: 'lobster';
    font-size: 1rem;
    margin-top: 16px;
    color: #87a3bf;
}

#table {
    width: 100%;
    font-family: 'lobster';
    color: #87a3bf;
    font-size: 0.8rem;
    margin-top: 8px;
}

#date {
    float: left;
}

#matches {
    float: right;
    position: absolute;
    right: 40%;
}

#statsBox2 {
    display: flex;
    border: 2px solid #495867;
    border-radius: 4px;
    margin-top: 30px;
}

#stat3 {
    flex: 1 1 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: 1px solid #495867;
    position: relative;
    font-family: 'lobster';
    font-size: 1rem;
    color: #87a3bf;
}

#table1 {
    width: 100%;
    font-family: 'lobster';
    color: #87a3bf;
    font-size: 0.8rem;
    margin-top: 10px;
    padding-bottom: 10px;
}

#date1 {
    float: left;
}

#matches1 {
    float: right;
    background-color: #435971;
    color: #fff;
    padding: 2px 6px 3px;
    border-radius: 4px;
    transition: .2s ease;
}

#times {
    margin-top: 15px;
    font-family: 'lobster';
    font-size: 1rem;
    color: #87a3bf;
}

#spans {
    left: 11%;
    position: relative;
}

#logo {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    float: left;
    left: 8%;
}

#not {
    margin-left: 19px;
}

#logo2 {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    float: right;
    right: 47%;
}

ion-tab-bar{
    --background: black;
}

ion-content{
    --background: black;
}