#container {
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 1.6rem;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

#btt {
    align-items: center;
    text-align: center;
    padding: 2px 2px 2px 2px;
    font-family: 'lobster';
    margin-top: 20%;
}

#btl {
    font-family: 'lobster';
    margin-right: 10px;
    width: 38%;
    font-size: 1.1rem;
}

#btc {
    font-family: 'lobster';
    font-size: 1.1rem;
    margin-left: 5px;
    width: auto;
}

#titulo {
    background-color: black;
    border-bottom: 1px solid #8c8c8c;
    width: auto;
}

h2{
    font-family: 'lobster';
    color: white;
    font-size: 1.4rem;
    text-align: center;
    position: absolute;
    margin-top: 20px;
    margin-left: 85px;
}

#box {
    background-color: black;
    padding: 8px 16px 16px;
    position: relative;
    z-index: 1;
    margin-top: 5px;
}

ion-content{
    --background: black;
}

ion-img{
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

#logo{
    height: 100px;
    margin-top: 5px;
}

p{
    color: white;
}